<body class="home-bg">
    <div class="p-grid card page-content border-color">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad">
            <app-topbar></app-topbar>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12 border-color" style="min-height:69vh;">
            <div>
                <p-panel>
                    <p-header>
                        <div class="ui-g-12 ui-md-8 ui-g panel-header">Search Ticket
                        </div>
                    </p-header>
                    <p-toast position="top-center" key="t-err"></p-toast>
                    <span> ** search any ticket by entering ticket id in search box**</span>
                    <div class="p-grid" style="padding-top: 1rem;">
                        <div class="p-col-8 p-md-6 p-lg-2">
                            <div class="p-float-label">
                                <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="ID"
                                    type="text" autocomplete="off" tabindex="3" (keydown.enter)="onKeyEnter(ID)">
                                <label for="float-input">Enter Ticket_ID<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div class="p-col-2 p-md-2 p-lg-1 no-pad-left">
                            <!-- <button pButton type="submit" label="Search Ticket" class="p-button-raised p-btn-pad bg-div"
                            icon="" iconPos="right" (click)="onTicket()"></button> -->
                            <p-button icon="pi pi-search" (click)="onTicket()"></p-button>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-3"></div>
                    <p-table #dt styleClass="p-datatable-gridlines p-datatable-sm" [columns]="TicketReportCols"
                        [value]="TicketReportData" [rows]="50" [rowsPerPageOptions]="[10,20,30,40,50,100]"
                        [paginator]="true" [responsive]="true" autoLayout="true" (onRowSelect)="onRowSelect($event)"
                        [loading]="loading" [(selection)]="selected" selectionMode="single"
                        exportFilename="MY_TICKET_REPORT">
                        <ng-template pTemplate="header" let-columns>
                            <tr style="text-align: center;">
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
            </div>


            <p-dialog header="{{dialogHeader}}" [(visible)]="showDialog" [style]="{width: '90vw' , height: '80vw'}"
                [modal]="true" [resizable]="true" [baseZIndex]="10000" [closable]="true" [maximizable]="true"
                icon="pi pi-exclamation-triangle">
                <p-toast position="top-center" key="d-err"></p-toast>
                <!-- <div style="float: right;">
                        <button pButton type="submit" label="Back" class="p-button-raised p-btn-pad bg-div" icon=""
                            iconPos="right" (click)="onBack()"></button>
                    </div> -->
                <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                    <div class="p-col-12 p-md-4 p-lg-3">
                        <div>
                            <label for="status" class="label-text-color">Status<span
                                    class="form-mandatory-field">*</span></label>
                        </div>
                        <p-dropdown #status name="status" [options]="StatusOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="Status" filter="true"
                            (onClick)="onSelect('Status')" resetFilterOnHide="true" optionLabel="label"
                            filterMatchMode="startsWith" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div style="padding-top: 2vh" class="p-col-12 p-md-4 p-lg-3">
                        <span class="p-float-label">
                            <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="Assignee"
                                type="text" autocomplete="off" tabindex="3">
                            <label for="float-input">Assignee</label>
                        </span>
                    </div>
                    <div style="padding-top: 2vh" class="p-col-12 p-md-4 p-lg-3">
                        <div class="p-float-label">
                            <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="DefaultCC"
                                type="text" autocomplete="off" tabindex="3">
                            <label for="float-input">Default CC<span class="form-mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div style="padding-top: 2vh" class="p-col-12 p-md-4 p-lg-3">
                        <div class="p-float-label">
                            <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="Subject"
                                type="text" autocomplete="off" tabindex="3">
                            <label for="float-input">Subject<span class="form-mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div style="padding-top: 2vh" class="p-col-12 p-md-4 p-lg-3">
                        <div class="p-float-label">
                            <textarea [(ngModel)]="TicketDescription" rows="5" cols="100" pInputTextarea></textarea>
                            <label for="float-input">Add Ticket Description<span
                                    class="form-mandatory-field">*</span></label>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <button pButton type="submit" label="Update" class="p-button-raised p-btn-pad bg-div" icon=""
                            iconPos="right" (click)="onSave()"></button>
                    </div>
                </div>

                <div style="font-size: 16px;">Previous Comments for the ticket - {{TicketID}}</div>
                <p-table #dt styleClass="p-datatable-gridlines p-datatable-sm" [columns]="TDCols" [value]="TD"
                    [rows]="60" [responsive]="true" autoLayout="true" [loading]="loading" [(selection)]="selected"
                    selectionMode="single" exportFilename="MY_TICKET_DESCRIPTIONS">
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                <div style="color: red;">
                                    {{reporter}} posted on {{rowData.ticketTime}}
                                </div>
                                <div class="ticketdesc">
                                    {{rowData.description}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-dialog>
        </div>
    </div>
    <app-footer></app-footer>
</body>