<body class="home-bg">
    <p-blockUI [blocked]="blockScreen">
        <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
    </p-blockUI>
    <div class="p-grid card page-content border-color">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad">
            <app-topbar></app-topbar>
        </div>
        <p-toast position="top-center" key="t-err"></p-toast>
        <div class="p-col-12 p-md-12 p-lg-12 border-color" style="min-height: 445px;">
            <p-panel>
                <p-header>User Profile
                    <div class="ui-g panel-header">
                        <div class="ui-g-12"></div>
                    </div>
                </p-header>
                <form #f="ngForm" name="profileForm">
                    <div class="p-grid card">
                        <!-- <div class="p-col-12 p-md-6 p-lg-1"></div> -->
                        <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-2">
                            <div class="p-float-label">
                                <input class="p-col-12" name="user_name" id="float-input" size="30" pInputText
                                    [(ngModel)]="Username" type="text" autocomplete="off" tabindex="3">
                                <label for="float-input">Name:<span class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-3">
                            <div class="p-float-label">
                                <input class="p-col-12" name="user_addr" id="float-input" size="30" pInputText
                                    [(ngModel)]="Address" type="text" autocomplete="off" tabindex="3">
                                <label for="float-input">Address:<span class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-2">
                            <div class="p-float-label">
                                <input class="p-col-12" name="user_phno" id="float-input" size="30" pInputText
                                    [(ngModel)]="Phone" type="text" autocomplete="off" tabindex="3" 
                                    minlength="1" maxlength="10">
                                <label for="float-input">Phone Number:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-3">
                            <div class="p-float-label">
                                <input class="p-col-12" name="user_mailid" id="float-input" size="30" pInputText
                                    [(ngModel)]="Email" type="email" autocomplete="off" tabindex="3">
                                <label for="float-input">Personal Email ID:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-3">
                            <div class="p-float-label">
                                <input class="p-col-12" name="user_loc" id="float-input" size="30" pInputText
                                    [(ngModel)]="LocationURL" type="text" autocomplete="off" tabindex="3">
                                <label for="float-input">Location URL:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <!-- <div class="p-col-12 p-md-6 p-lg-1"></div>
                        <div class="p-col-12 p-md-6 p-lg-1"></div> -->
                        <!-- row 2 -->
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div>
                                <label for="rname" class="label-text-color">Region:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                            <p-dropdown #reg name="rname" [options]="regionOptions"
                                [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="rcode"
                                (onClick)="onSelect('RM')" (onChange)="onResetFields('RM')" filter="true"
                                resetFilterOnHide="true" filterMatchMode="startsWith" optionLabel="label" required>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div>
                                <label for="dname" class="label-text-color">District:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                            <p-dropdown #dist name="user_dname" [options]="districtOptions"
                                [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="dcode"
                                (onClick)="onSelect('DM')" filter="true" resetFilterOnHide="true"
                                filterMatchMode="startsWith" (onChange)="onResetFields('DM')" optionLabel="label"
                                required>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <!-- row 3 -->
                        <div class="p-col-12 border-color" style="margin-left: 10px;width: 98.5%;">
                            <span class="comment-text">Enter Reporting Manager details:-</span>
                            <div class="p-grid">
                                <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-2">
                                    <div class="p-float-label">
                                        <input class="p-col-12" name="rm_name" id="float-input" size="30" pInputText
                                            [(ngModel)]="RMName" type="text" autocomplete="off" tabindex="3">
                                        <label for="float-input">Name:<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                </div>
                                <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-3">
                                    <div class="p-float-label">
                                        <input class="p-col-12" name="rm_email" id="float-input" size="30" pInputText
                                            [(ngModel)]="RMEmailId" type="text" autocomplete="off" tabindex="3">
                                        <label for="float-input">Mail Id:<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                </div>
                                <div style="padding-top: 1.8rem;" class="p-col-12 p-md-6 p-lg-2">
                                    <div class="p-float-label">
                                        <input class="p-col-12" name="rm_phno" id="float-input" size="30" pInputText
                                            [(ngModel)]="RMPhnNo" type="text" autocomplete="off" tabindex="3"
                                            minlength="1" maxlength="10">
                                        <label for="float-input">Phone Number<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div>
                                        <label for="dname" class="label-text-color">District:<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <p-dropdown #dist name="rm_dname" [options]="districtOptions"
                                        [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="RMDistrict"
                                        (onClick)="onSelect('DM')" filter="true" resetFilterOnHide="true"
                                        filterMatchMode="startsWith" (onChange)="onResetFields('RDM')"
                                        optionLabel="label" required>
                                        <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle">{{item.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <!-- row 4 -->
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <p-fileUpload name="prof_pic" url="{{uploadURL}}" (onUpload)="onUpload($event)"
                                multiple="single" accept="image/*" (onSelect)="onSelectImage($event)" maxFileSize="1000000">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-12 no-pad">
                            <div class="p-grid">
                                <div class="p-col-4 p-md-2 p-lg-5"></div>
                                <div class="p-col-4 p-md-2 p-lg-1 txt-align" style="display: grid;">
                                    <button pButton type="submit" label="Save" class="p-button-raised p-btn-pad bg-div"
                                        (click)="onSave(f)" [disabled]="!f.valid"></button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="p-col-4 p-md-2 p-lg-1" style="padding-top: 4vh;">
                            <button class="p-col-4 p-md-2 p-lg-12" pButton type="button" label="View"
                                (click)="getUserProfile()"></button>
                        </div> -->
                    </div>
                </form>
            </p-panel>
        </div>
    </div>
    <app-footer></app-footer>
</body>