<body class="home-bg">
    <div class="p-grid card page-content border-color">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad">
            <app-topbar></app-topbar>
        </div>
        <div class="p-col-12 p-md-12 p-lg-4 border-color" style="min-height:69vh;margin-left: 66vh;">
            <p-panel>
                <p-header>
                    <div class="ui-g-12 ui-md-8 ui-g panel-header">Change Password
                    </div>
                </p-header>
                <p-toast position="top-center" key="t-err"></p-toast>
                <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                    <form #f="ngForm" name="changePwdForm">
                        <div class="form-group" style="margin: 0px !important">
                            <div for="user_name" style="padding-top: 2vh;" class="p-col-12 p-md-8 p-lg-12">
                                <div class="p-float-label">
                                    <input class="p-col-12" id="float-input" size="30" pInputText name="user_name"
                                        [(ngModel)]="userName" filter="true" [readonly]="true"
                                        filterMatchMode="startsWith" tabindex="0" required>
                                    <label for="float-input">UserName</label>
                                </div>
                            </div>
                            <div for="new_pwd" style="padding-top: 3vh;" class="p-col-12 p-md-8 p-lg-12">
                                <div class="p-float-label">
                                    <input #newpwd type="password" class="p-col-12" id="float-input" size="30"
                                        pInputText name="new_pwd" [(ngModel)]="NewPassword" autocomplete="off"
                                        filter="true" filterMatchMode="startsWith" tabindex="0" required>
                                    <label for="float-input">New Password</label>
                                </div>
                            </div>
                            <div for="confirm_pwd" style="padding-top: 3vh;" class="p-col-12 p-md-8 p-lg-12">
                                <div class="p-float-label">
                                    <input class="p-col-12" type="password" id="float-input" size="30" pInputText
                                        name="confirm_pwd" [(ngModel)]="ConfirmPassword" filter="true"
                                        filterMatchMode="startsWith" tabindex="0" required>
                                    <label for="float-input">Confirm Password</label>
                                </div>
                            </div>

                            <div class="p-col-12 p-md-4 p-lg-1">
                                <button pButton type="submit" label="Submit" value="Change My Password"
                                    name="chngpwdbtn" class="p-button-raised p-btn-pad bg-div" icon="" iconPos="right"
                                    (click)="onChangePassword(f)"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-panel>
        </div>
    </div>
    <app-footer></app-footer>
</body>