<body class="home-bg">
    <p-blockUI [blocked]="blockScreen">
        <p-progressSpinner class="spinner" strokeWidth="4" *ngIf="blockScreen"></p-progressSpinner>
    </p-blockUI>
    <div class="p-grid card page-content border-color">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad">
            <app-topbar></app-topbar>
        </div>
        <p-toast position="top-center" key="t-err"></p-toast>
        <div class="p-col-12 p-md-12 p-lg-12 border-color" style="min-height: 445px;">
            <p-panel>
                <p-header>Relocation Details Form
                    <div class="ui-g panel-header">
                        <div class="ui-g-12"></div>
                    </div>
                </p-header>
                <form #f="ngForm" name="relocationForm">
                    <div class="p-grid card">
                        <!-- row 1 -->
                        <div class="p-col-12 p-md-4 p-lg-2">
                            <div>
                                <label for="loc" class="label-text-color">Request Location:
                                    <span class="form-mandatory-field">*</span>
                                </label>
                            </div>
                            <p-dropdown #loc name="loc" [options]="locationOptions"
                                [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="location"
                                (onClick)="onSelect('L')" (onChange)="onResetFields('L')" optionLabel="label" required>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div>
                                <label for="rname" class="label-text-color">Region:
                                    <span class="form-mandatory-field">*</span>
                                </label>
                            </div>
                            <p-dropdown #reg name="rname" [options]="regionOptions"
                                [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="rcode"
                                (onClick)="onSelect('RM')" (onChange)="onResetFields('RM')" filter="true"
                                resetFilterOnHide="true" filterMatchMode="startsWith" optionLabel="label" required>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div>
                                <label for="dname" class="label-text-color">District:
                                    <span *ngIf="!disableDM" class="form-mandatory-field">*</span>
                                </label>
                            </div>
                            <p-dropdown #dist name="dname" [options]="districtOptions"
                                [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="dcode"
                                (onClick)="onSelect('DM')" filter="true" resetFilterOnHide="true"
                                filterMatchMode="startsWith" (onChange)="onResetFields('DM')" optionLabel="label"
                                [disabled]="disableDM" required>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div>
                                <label class="label-text-color" for="shopcd">Shop Number:
                                    <span *ngIf="!disableShop" class="form-mandatory-field">*</span>
                                </label>
                            </div>
                            <p-dropdown #shop name="shop" [options]="shopOptions"
                                [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="shopNo" filter="true"
                                (onClick)="onSelect('SH')" (onChange)="onResetFields('SH')" resetFilterOnHide="true"
                                filterMatchMode="startsWith" optionLabel="label" [disabled]="disableShop" required>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div style="padding-top: 1.7rem;" class="p-col-12 p-md-6 p-lg-3">
                            <div class="p-float-label">
                                <input class="p-col-12" name="fromAddr" id="float-input" size="30" pInputText
                                    [(ngModel)]="fromAddress" type="text" autocomplete="off" tabindex="3">
                                <label for="float-input">Current Location:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        &nbsp;
                        <!-- row 2 -->
                        <div style="padding-top: 1.5rem;" class="p-col-12 p-md-6 p-lg-3">
                            <div class="p-float-label">
                                <input class="p-col-12" name="toAddr" id="float-input" size="30" pInputText
                                    [(ngModel)]="toAddress" type="text" autocomplete="off" tabindex="3">
                                <label for="float-input">New Location:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div style="padding-top: 1.5rem;" class="p-col-12 p-md-6 p-lg-2">
                            <div class="p-float-label">
                                <input class="p-col-12" name="newShopNum" id="float-input" size="30" pInputText
                                    [(ngModel)]="newShopNum" type="text" autocomplete="off" tabindex="3">
                                <label for="float-input">New Shop No:</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2 no-pad-top">
                            <div>
                                <label for="stats" class="label-text-color">Status:<span *ngIf="!disableStatus"
                                        class="form-mandatory-field">*</span></label>
                            </div>
                            <p-dropdown #stats name="stats" [options]="statusOptions"
                                [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="status" filter="true"
                                resetFilterOnHide="true" (onClick)="onSelect('ST')" filterMatchMode="startsWith"
                                optionLabel="label" [disabled]="disableStatus" required>
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-2 no-pad-top">
                            <div>
                                <label class="label-text-color" for="ddate">Relocation Date:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                            <p-calendar name="ddate" dateFormat="yy-mm-dd" [(ngModel)]="docDate" [showIcon]="true"
                                required></p-calendar>
                        </div> &nbsp;
                        <!-- row 3 -->
                        <div style="padding-top: 1.5rem;" class="p-col-12 p-md-6 p-lg-3">
                            <div class="p-float-label">
                                <input class="p-col-12" name="reasonText" id="float-input" size="30" pInputText
                                    [(ngModel)]="reason" type="text" autocomplete="off" tabindex="3">
                                <label for="float-input">Reason:<span class="form-mandatory-field">*</span></label>
                            </div>
                        </div>
                        <div *ngIf="showCDate" class="p-col-12 p-md-4 p-lg-2 no-pad-top">
                            <div>
                                <label class="label-text-color" for="cdate">Completed Date:<span
                                        class="form-mandatory-field">*</span></label>
                            </div>
                            <p-calendar name="cdate" dateFormat="yy-mm-dd" [(ngModel)]="completedDate" [showIcon]="true"
                                required>
                            </p-calendar>
                        </div> &nbsp;
                        <!-- row 4 -->
                        <div class="p-col-12 p-md-12 p-lg-12">
                            <div class="p-grid">
                                <div class="p-col-4 p-md-2 p-lg-5"></div>
                                <div class="p-col-4 p-md-2 p-lg-1 txt-align" style="display: grid;">
                                    <button pButton type="submit" label="Save" class="p-button-raised p-btn-pad bg-div"
                                        (click)="onSave(f)"
                                        [disabled]="(!f.valid || (isEditClicked && !f.dirty) || isSaved)"></button>
                                </div>
                                <div class="p-col-4 p-md-2 p-lg-1 txt-align" style="display: grid;">
                                    <button pButton type="button" label="View" class="p-button-raised p-btn-pad bg-div"
                                        (click)="isEditClicked=true"></button>
                                </div>
                                <div class="p-col-4 p-md-2 p-lg-1 txt-align" style="display: grid;">
                                    <button pButton type="button" label="Clear" class="p-button-raised p-btn-pad bg-div"
                                        (click)="onClear(f)"></button>
                                </div>
                            </div>
                        </div>
                        <!-- row 4 -->
                        <div *ngIf="isEditClicked" class="p-col-12 p-md-12 p-lg-12 card border-color">
                            <div class="header-line">Relocation Details
                                <span>
                                    <button pButton type="button" icon="pi pi-times" iconPos="left"
                                        style="float: right; height: 1.75rem; width: 2rem;"
                                        (click)="isEditClicked=false"></button>
                                </span>
                            </div>
                            <div class="p-col-6 p-md-4 p-lg-2">
                                <div>
                                    <label class="label-text-color" for="vdate">Date:</label>
                                </div>
                                <p-calendar name="vdate" dateFormat="yy-mm-dd" [(ngModel)]="viewDate" [showIcon]="true"
                                    (ngModelChange)="getRelocationDetails()">
                                </p-calendar>
                            </div>
                            <p-table #dt styleClass="p-datatable-gridlines p-datatable-sm"
                                [columns]="relocationDetailsCols" [value]="relocationDetailsData" [rows]="50"
                                [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [responsive]="true"
                                autoLayout="true" [loading]="loading" selectionMode="single">
                                <ng-template pTemplate="header" let-columns>
                                    <tr style="text-align: center;">
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                    <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect(rowData, rowIndex, f)">
                                        <td *ngFor="let col of columns">
                                            {{rowData[col.field]}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </form><br />
                <div class="p-col-12" style="font-size: 15px;">
                    <span style="text-decoration:underline;"> This form will help you to enter the relocation
                        information:
                    </span><br />
                    * User has to select Request location<br />
                    * Based on selected location respective address will be displayed automatically<br />
                    * User have to enter “New Address” and reason and Relocation date<br />
                    * User can mention the “New Shop Number” if its available otherwise it can be leave as empty<br />
                </div>
            </p-panel>
        </div>
    </div>
    <app-footer></app-footer>
</body>